---
layout: default
title: Articles
section: articles
type: page
---
<div id="content"><div class="content"><div class="split">
    <div class="main">
        <h1>Articles</h1>
        
        <ul>
            {% for post in site.posts %}
            <li class="hentry micro">
                <p class="entry-date">
                    <abbr class="published" name="{{ post.date | date: '%Y-%m-%d' }}">
                        {{ post.date | date: '%d %B %Y' }}
                    </abbr>
                </p>
                
                <p class="entry-title">
                    <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                </p>
                
                <div class="entry-meta">
                    <div class="entry-tags">
                        {% for category in post.categories %}
                        <a rel="tag" href="#{{ category }}">{{ category }}</a>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div></div></div>