@import "normalize.css";

body {
  font-family: "proxima-nova", sans-serif;
  color: #444;
  font-size: 18px;
}

a {
  color: #00B5FF;
}

hr {
  border: 2px solid #ddd;
  margin: 30px 100px;
}

blockquote {
  font-weight: 300;
  font-size: 22px;
  color: #2c7fa1;
  margin: 0;
  padding: 0 100px;
}

figure {
  padding: 0 100px;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/**
 * Container
 */

.container {
  margin: 0 auto;
  width: 90%;
}

@media (min-width: 760px) {
  .container {
    width: 760px;
  }
}

/**
 * Header
 */

header {
  overflow: hidden;
  margin: 60px 0;
}

h1 {
  float: left;
  margin: 0;
}

h1 a {
  display: block;
  width: 100px;
  text-indent: -9999px;
  overflow: hidden;
  background: inline(jwilde.svg) left center no-repeat;
  background-size: fit; 
}

nav {
  float: right;
}

nav ul {
  padding: 10px 0;
  margin: 0;
}

nav li {
  padding: 0;
  margin: 0 0 0 10px;
  list-style: none;
  display: inline;
}

/**
 * Footer
 */

footer {
  margin: 60px 0;
  color: #999;
}

/**
 * Page: Index
 */

.hfeed .published {
  float: right;
}

.hfeed .hentry {
  margin: 40px 0;
}

h3.entry-title {
  margin: 0;
  float: left;
}

h3.entry-title a {
  text-decoration: none;
}

.entry-summary {
  padding-top: 10px;
  clear: both;
}

/**
 * Page: Post
 */

.entry-heading {
  margin: 60px 0;
}

.entry-content {
  line-height: 140%;
}

h2.entry-title {
  font-weight: 800;
  font-size: 50px;
  margin: 0;
  line-height: 100%;
  text-transform: uppercase;
}

.published {
  color: #999;
}

h2.entry-title a {
  text-decoration: none;
}