@import "normalize.css";

:root {
  --sm-spacing: 18px;
  --sm-spacing-sm: 30px;
  --md-spacing: 60px;
  --md-spacing-sm: 40px;
}

body {
  font-family: "proxima-nova", sans-serif;
  color: #444;
  font-size: 20px;
}

a {
  color: #00B5FF;
}

blockquote {
  font-weight: 300;
  color: #2c7fa1;
}

img {
  width: 100%;
  height: auto;
}

hr {
  border: 2px solid #ddd;
}

blockquote,
figure,
hr {
  margin: 20px;
}

@media (min-width: 768px) {
  blockquote,
  figure,
  hr {
    margin: 30px 100px;
  }
}

/**
 * Container
 */

.container {
  padding: 0 var(--sm-spacing);
}

@media (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 760px;
  }
}

/**
 * Header
 */

.header {
  overflow: hidden;
  margin: var(--sm-spacing) 0;
}

.header-logo {
  float: left;
  margin: 0;
}

.header-logo-link {
  display: block;
  width: 100px;
  text-indent: -9999px;
  overflow: hidden;
  background: inline(jwilde.svg) left center no-repeat;
  background-size: fit; 
}

.header-nav {
  float: right;
}

.header-nav-list {
  padding: 10px 0;
  margin: 0;
}

.header-nav-list-item {
  padding: 0;
  margin: 0 0 0 10px;
  list-style: none;
  display: inline;
}

@media (min-width: 768px) {
  .header {
    margin: var(--md-spacing) 0;
  }
}

/**
 * Mini Article
 */

.mini {
  margin: var(--sm-spacing-sm) 0;
}

.mini-title {
  margin: 0;
}

.mini-title-link {
  text-decoration: none;
}

.mini-published {
  color: #999;
  margin: 0;
}

@media (min-width: 768px) {
  .mini {
    margin: var(--md-spacing-sm) 0;
  }

  .mini-title {
    float: left;
  }

  .mini-published {
    float: right;
  }

  .mini-summary {
    padding-top: 10px;
    clear: both;
  }
}

/**
 * Article
 */

.full-header {
  margin: 40px 0;
}

.full-header-title {
  font-weight: 800;
  line-height: 100%;
  font-size: 35px;
  text-transform: uppercase;
  margin: 0;
}

.full-header-title-link {
  text-decoration: none;
}

.full-header-published {
  color: #999;
}

.full-comments {
  border: 4px solid #2c7fa1;
  padding: 20px;
}

.full-comments, .full-comments a {
  color: #2c7fa1;
}

@media (min-width: 768px) {
  .full-header {
    margin: var(--md-spacing) 0;
  }

  .full-header-title {
    font-size: 60px;
  }
}

/**
 * Footer
 */

.footer {
  margin: var(--sm-spacing) 0;
  color: #999;
}

@media (min-width: 768px) {
  .footer {
    margin: var(--md-spacing) 0;
  }
}