/* smartphone.css
   for, well, smartphones (and above). */

a {
  color: #37748D;
  text-decoration: none;
  border-bottom: 1px solid #BED7E0;
}

a.button {
  display: block;
  text-align: center;
  padding: 0.5em 1em;
  border: 0;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
}

a.button:active {
  background: #37758E;
  color: #fff;
}

.header {
  background: #DBEBF0;
  background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 700, color-stop(0%, #ffffff), color-stop(100%, #dbebf0));
  background-image: -moz-radial-gradient(bottom center, circle, #ffffff 0%, #dbebf0 700px);
  background-image: radial-gradient(bottom center, circle, #ffffff 0%, #dbebf0 700px);
  margin-bottom: 3em;
}

.warning {
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
}

.nametag {
  margin: 0 auto;
  width: 16em;
  position: relative;
  top: 1.5em;
  padding: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
}

 .nametag .writable {
   -moz-border-radius: 0.2em;
   -webkit-border-radius: 0.2em;
   -o-border-radius: 0.2em;
   -ms-border-radius: 0.2em;
   -khtml-border-radius: 0.2em;
   border-radius: 0.2em;
   padding-bottom: 1.5em;
 }

  .nametag .writable .mynameis {
    padding: 0.6em 0 0.7em
  }

  .nametag .writable .n {
    font-size: 2.2em !important
  }

.post .header .button-bar, .archives .header .button-bar, .page .header .button-bar, .error .header .button-bar {
  position: relative;
  top: 1.75em;
}

.post .header .nametag, .archives .header .nametag, .page .header .nametag, .error .header .nametag {
  margin-top: -5em
}

.section {
  border-top: 0.4em solid #DBEBF0;
  padding: 0.5em 0;
}

.main {
  padding: 0 1em
}

.entry-comments {
  color: #999
}

.footer p {
  margin: 1em 0 3em
}

