@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* The 16-column Deco Grid System. 
 * Available in multiple variants, see http://deco.gs
 *
 * Cells are   4.16667%    (=40px)
 * Column margins are 2.08333% (=20px)
 * Total is    6.25%. (=80px) (which makes 16 columns)
 * 
 * If page width is fixed to 960px width:
 * Cell will be equivalent to 40px, left/right margin will be 10px.
 */
/* Width classes. 
   For a given cell width, the calculation is: 
   width = (total cell width) * n - (column margins) 
   In this case: (6.25*n - 2.08333)% */
/* Positioning classes, these are subtracting from a rightmost 
   position, which is why they seem the wrong way around */
/* For a given position, the calculation is:
   -100 + (total cell width * n)
   In this case: margin-left: -100 + (6.25*n) */
/* End of the core Deco Grid System */
/* === LAYOUT */
/* line 6, ../src/_layout.scss */
#header, #footer, #content {
  *zoom: 1;
}
/* line 22, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#header:after, #footer:after, #content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

@media (min-width: 35em) {
  /* line 11, ../src/_layout.scss */
  .content {
    width: 90%;
    margin: 0 auto;
  }

  /* line 16, ../src/_layout.scss */
  .split {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    padding-top: 2em;
  }
  /* line 20, ../src/_layout.scss */
  .split .main {
    position: relative;
    float: left;
    left: 100%;
    margin-left: -100%;
    width: 64.815%;
  }
  /* line 26, ../src/_layout.scss */
  .split .extra {
    position: relative;
    float: left;
    left: 100%;
    margin-left: -33.333%;
    width: 20.37%;
  }
}

@media (min-width: 60em) {
  /* line 35, ../src/_layout.scss */
  .content {
    width: 54em;
  }
}

/* | SKIN
   +------------------------------------------------------------------------- */
/*! A font by Jos Buivenga (exljbris) -> http://www.exljbris.com */
@font-face {
  font-family: "Museo Slab";
  src: url('../fonts/museo_slab_500-webfont.eot');
  src: local("☺"), url('../fonts/museo_slab_500-webfont.woff') format('woff'), url('../fonts/museo_slab_500-webfont.ttf') format('truetype'), url('../fonts/museo_slab_500-webfont.svg') format('svg');
}

/* | Mobile Base Skin - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* line 17, ../src/modules/_type.scss */
body {
  font-family: Verdana, sans-serif;
  line-height: 1.5em;
}

/* line 22, ../src/modules/_type.scss */
h1, h2, h3 {
  font-family: "Museo Slab", sans-serif;
  color: #373737;
}
/* line 26, ../src/modules/_type.scss */
h1 a, h2 a, h3 a {
  text-decoration: none;
  display: block;
  color: #373737;
}

/* line 33, ../src/modules/_type.scss */
h1, .teaser h2 {
  font-size: 1.5em;
  padding-top: 0.45em;
  margin-bottom: 0.6em;
  margin-top: 0 !important;
}

/* line 40, ../src/modules/_type.scss */
h2 {
  font-size: 1.2em;
  margin: 1em 0;
}

/* line 45, ../src/modules/_type.scss */
p {
  font-size: 0.875em;
  color: #373737;
  text-align: justify;
  margin-bottom: 1em;
}

/* line 52, ../src/modules/_type.scss */
pre {
  padding: 1em 1.5em;
  margin: 1em 0;
  font-family: monospace;
  overflow: auto;
}

/* line 60, ../src/modules/_type.scss */
#content ul, #content ol {
  font-size: 0.875em;
  color: #373737;
  margin: 1em 0;
}
/* line 65, ../src/modules/_type.scss */
#content ul li, #content ol li {
  margin-left: 3em;
  text-align: justify;
}
/* line 71, ../src/modules/_type.scss */
#content ul {
  list-style: disc outside;
}
/* line 75, ../src/modules/_type.scss */
#content ol {
  list-style: decimal outside;
}

/* line 80, ../src/modules/_type.scss */
.warn p {
  color: #7D0B28;
  padding: 0.8em 1em;
  margin-bottom: 1em;
  background: #FFCBC4;
}

/* line 87, ../src/modules/_type.scss */
.note p {
  color: #0057AD;
  padding: 0.8em 1em;
  margin-bottom: 1em;
  background: #DBEDFF;
}

/* line 94, ../src/modules/_type.scss */
table {
  font-size: 0.875em;
  width: 100%;
}
/* line 97, ../src/modules/_type.scss */
table td, table th {
  padding: 0.5em 0.7em;
  vertical-align: top;
}
/* line 102, ../src/modules/_type.scss */
table th {
  border-bottom: 2px solid #999;
  color: #373737;
}
/* line 107, ../src/modules/_type.scss */
table td {
  border-bottom: 1px solid #ccc;
  color: #777;
}

/* line 113, ../src/modules/_type.scss */
hr {
  background: #333333 url(../images/header-background.png) repeat;
  border: 0px;
  height: 2px;
  margin: 2em auto;
  width: 35%;
}

/* | Notebook, Tablet Skin  - - - - - - - - - - - - - - - - - - - - - - - - - */
@media (min-width: 35em) {
  /* line 124, ../src/modules/_type.scss */
  h1 {
    font-size: 2.25em;
    padding: 0;
    line-height: 1.333em;
  }
}

/* line 1, ../src/modules/_forms.scss */
input {
  width: 96.5%;
  border: 0 none;
  padding: 0.3em 2%;
  opacity: 0.5;
}
/* line 7, ../src/modules/_forms.scss */
input:focus {
  opacity: 1;
}

/* Size Ranges */
/* The 16-column Deco Grid System. 
 * Available in multiple variants, see http://deco.gs
 *
 * Cells are   4.16667%    (=40px)
 * Column margins are 2.08333% (=20px)
 * Total is    6.25%. (=80px) (which makes 16 columns)
 * 
 * If page width is fixed to 960px width:
 * Cell will be equivalent to 40px, left/right margin will be 10px.
 */
/* Width classes. 
   For a given cell width, the calculation is: 
   width = (total cell width) * n - (column margins) 
   In this case: (6.25*n - 2.08333)% */
/* Positioning classes, these are subtracting from a rightmost 
   position, which is why they seem the wrong way around */
/* For a given position, the calculation is:
   -100 + (total cell width * n)
   In this case: margin-left: -100 + (6.25*n) */
/* End of the core Deco Grid System */
/* | LAYOUT
   +------------------------------------------------------------------------- */
/* | Mobile Base Layout - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* line 11, ../src/modules/_header.scss */
#header #logo, #header .nav, #header #search {
  text-align: center;
}
/* line 15, ../src/modules/_header.scss */
#header .nav li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../Apps/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#header .nav li {
  *display: inline;
}

/* | Notebook, Tablet Layout  - - - - - - - - - - - - - - - - - - - - - - - - */
@media (min-width: 35em) {
  /* line 24, ../src/modules/_header.scss */
  #header #logo, #header div.nav, #header #search {
    position: relative;
    float: left;
    left: 100%;
  }
  /* line 28, ../src/modules/_header.scss */
  #header #logo {
    margin-left: -100%;
    width: 25.926%;
    text-align: left;
  }
  /* line 34, ../src/modules/_header.scss */
  #header div.nav {
    margin-left: -72.222%;
    width: 42.593%;
  }
  /* line 39, ../src/modules/_header.scss */
  #header #search {
    margin-left: -27.778%;
    width: 25.926%;
    text-align: right;
  }
}

/* | SKIN
   +------------------------------------------------------------------------- */
/* | Mobile Base Skin - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* line 58, ../src/modules/_header.scss */
#header {
  background: url(../images/header-background.png) repeat;
}
/* line 61, ../src/modules/_header.scss */
#header a {
  color: #fff;
  text-decoration: none;
  display: block;
  line-height: 1em;
}
/* line 68, ../src/modules/_header.scss */
#header h1 {
  font-size: 1.375em;
  margin: 0;
  padding: 0;
}
/* line 73, ../src/modules/_header.scss */
#header h1 a {
  padding: 0.6em 0;
}
/* line 78, ../src/modules/_header.scss */
#header #logo {
  border-bottom: 1px dotted #666;
}
/* line 82, ../src/modules/_header.scss */
#header .nav li a {
  padding: 1em 0.7em;
  font-size: 0.875em;
}
/* line 87, ../src/modules/_header.scss */
#header #search {
  display: none;
}

/* line 93, ../src/modules/_header.scss */
.articles .nav li.articles a {
  background-color: #ffad33;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #ff9900), color-stop(100%, #ffc266));
  background-image: -moz-linear-gradient(bottom, #ff9900 0%, #ffc266 100%);
  background-image: linear-gradient(bottom, #ff9900 0%, #ffc266 100%);
  color: black !important;
}

/* line 99, ../src/modules/_header.scss */
.projects .nav li.projects a {
  background-color: #ff3385;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #ff0066), color-stop(100%, #ff66a3));
  background-image: -moz-linear-gradient(bottom, #ff0066 0%, #ff66a3 100%);
  background-image: linear-gradient(bottom, #ff0066 0%, #ff66a3 100%);
  color: black !important;
}

/* line 105, ../src/modules/_header.scss */
.about .nav li.about a {
  background-color: #33eaff;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #00e5ff), color-stop(100%, #66efff));
  background-image: -moz-linear-gradient(bottom, #00e5ff 0%, #66efff 100%);
  background-image: linear-gradient(bottom, #00e5ff 0%, #66efff 100%);
  color: black !important;
}

/* | Notebook, Tablet Skin  - - - - - - - - - - - - - - - - - - - - - - - - - */
@media (min-width: 35em) {
  /* line 113, ../src/modules/_header.scss */
  #logo {
    border-bottom: 0 none !important;
  }

  /* line 118, ../src/modules/_header.scss */
  #header .nav li a {
    padding: 1.4em 0.7em;
  }
  /* line 122, ../src/modules/_header.scss */
  #header h1 a {
    padding: 0.65em 0;
  }

  /* line 128, ../src/modules/_header.scss */
  #search {
    padding: 0.8em 0;
    display: block !important;
  }
  /* line 132, ../src/modules/_header.scss */
  #search input {
    max-width: 10em;
    float: right;
  }
}

/* line 1, ../src/modules/_footer.scss */
#footer {
  margin: 2.5em 0;
  padding: 0 1em;
}
/* line 5, ../src/modules/_footer.scss */
#footer p {
  text-indent: 0;
  color: #999;
}

@media (min-width: 35em) {
  /* line 12, ../src/modules/_footer.scss */
  #footer {
    padding: 0;
  }
}

/* | LAYOUT
   +------------------------------------------------------------------------- */
/* | Notebook, Tablet Layout  - - - - - - - - - - - - - - - - - - - - - - - - */
@media (min-width: 35em) {
  /* line 8, ../src/modules/_entries.scss */
  body.entry .entry-header {
    float: left;
    width: 100%;
    display: block;
    position: relative;
  }
  /* line 11, ../src/modules/_entries.scss */
  body.entry .entry-header .entry-title {
    position: relative;
    float: left;
    left: 100%;
    width: 64.815%;
    margin-left: -100%;
  }
  /* line 17, ../src/modules/_entries.scss */
  body.entry .entry-header .entry-meta {
    position: relative;
    float: left;
    left: 100%;
    margin-left: -33.333%;
    width: 31.481%;
  }
  /* line 25, ../src/modules/_entries.scss */
  body.entry .entry-content p, body.entry .entry-content ul, body.entry .entry-content ol {
    width: 64.815%;
  }
  /* line 29, ../src/modules/_entries.scss */
  body.entry .entry-content .warn, body.entry .entry-content .note {
    float: right;
    width: 31.481%;
    margin-right: 1.852%;
  }
  /* line 34, ../src/modules/_entries.scss */
  body.entry .entry-content .warn p, body.entry .entry-content .note p {
    width: auto;
  }
}

/* | SKIN
   +------------------------------------------------------------------------- */
/* | Mobile Base Skin - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* line 47, ../src/modules/_entries.scss */
#content {
  padding: 1em;
}

/* line 52, ../src/modules/_entries.scss */
.entry-meta p {
  color: #929292;
  text-indent: 0;
  margin: 0;
}
/* line 58, ../src/modules/_entries.scss */
.entry-meta abbr {
  color: #666;
}

/* line 64, ../src/modules/_entries.scss */
body.entry .entry-meta {
  margin-bottom: 1.125em;
}
/* line 68, ../src/modules/_entries.scss */
body.entry .entry-image-row {
  float: left;
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: 1em;
}
/* line 73, ../src/modules/_entries.scss */
body.entry .entry-image-row img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* line 78, ../src/modules/_entries.scss */
body.entry .entry-image-row .i1, body.entry .entry-image-row .i2, body.entry .entry-image-row .i3 {
  position: relative;
  float: left;
  left: 100%;
  width: 31.481%;
}
/* line 82, ../src/modules/_entries.scss */
body.entry .entry-image-row .i1 {
  margin-left: -100%;
}
/* line 85, ../src/modules/_entries.scss */
body.entry .entry-image-row .i2 {
  margin-left: -66.667%;
}
/* line 88, ../src/modules/_entries.scss */
body.entry .entry-image-row .i3 {
  margin-left: -33.333%;
}

/* line 94, ../src/modules/_entries.scss */
.teaser {
  margin-bottom: 2em;
}
/* line 97, ../src/modules/_entries.scss */
.teaser .entry-meta {
  overflow: auto;
}
/* line 100, ../src/modules/_entries.scss */
.teaser .entry-meta p {
  float: left;
  margin-right: 2em;
}

/* line 107, ../src/modules/_entries.scss */
.micro {
  list-style: none;
  overflow: auto;
  margin: 0 !important;
}
/* line 112, ../src/modules/_entries.scss */
.micro .entry-meta {
  display: none;
}

/* | Notebook, Tablet Skin  - - - - - - - - - - - - - - - - - - - - - - - - - */
@media (min-width: 35em) {
  /* line 120, ../src/modules/_entries.scss */
  #content {
    padding: 0;
  }

  /* line 125, ../src/modules/_entries.scss */
  body.entry .entry-header {
    padding: 2.45em 0 1.3em;
  }
  /* line 128, ../src/modules/_entries.scss */
  body.entry .entry-header .entry-meta {
    margin-bottom: 0;
  }
  /* line 129, ../src/modules/_entries.scss */
  body.entry .entry-header .entry-meta p {
    text-align: right;
  }

  /* line 137, ../src/modules/_entries.scss */
  .micro .entry-date {
    float: left;
    width: 10em;
  }
}

/* | SKIN
   +------------------------------------------------------------------------- */
/* | Mobile Base Skin - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* line 9, ../src/modules/_home.scss */
#mission {
  background: #ffc774;
  background-image: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 550, color-stop(0%, #ffdba4), color-stop(100%, #ffad33));
  background-image: -moz-radial-gradient(bottom center, circle, #ffdba4 0%, #ffad33 550px);
  background-image: radial-gradient(bottom center, circle, #ffdba4 0%, #ffad33 550px);
}
/* line 13, ../src/modules/_home.scss */
#mission .content p {
  padding: 1.2em 1em;
  color: #593400;
  font-family: "Museo Slab", serif;
  text-shadow: #FFECCE 0 1px 1px;
  line-height: 120%;
  text-align: center;
  margin: 0;
}
/* line 23, ../src/modules/_home.scss */
#mission .hr {
  height: 3px;
  width: 100%;
  margin: 0;
}
/* line 28, ../src/modules/_home.scss */
#mission .hr.bar-orange {
  background: #FFAD33;
  color: #FFAD33;
}
/* line 33, ../src/modules/_home.scss */
#mission .hr.bar-cyan {
  background: #33EAFF;
  color: #33EAFF;
}
/* line 38, ../src/modules/_home.scss */
#mission .hr.bar-pink {
  background: #FF3385;
  color: #FF3385;
}

/* | Notebook, Tablet Skin  - - - - - - - - - - - - - - - - - - - - - - - - - */
@media (min-width: 35em) {
  /* line 49, ../src/modules/_home.scss */
  #mission .content p {
    font-size: 1.875em;
    padding: 1.2em 0.1em;
  }
  /* line 54, ../src/modules/_home.scss */
  #mission .hr {
    height: 8px;
  }
}

/* | LAYOUT
   +------------------------------------------------------------------------- */
/* | Notebook, Tablet Layout  - - - - - - - - - - - - - - - - - - - - - - - - */
@media (min-width: 35em) {}
/* | SKIN
   +------------------------------------------------------------------------- */
/* | Mobile Base Skin - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* | Notebook, Tablet Skin  - - - - - - - - - - - - - - - - - - - - - - - - - */
