---
layout: default
classes: post
---

<div class="hentry">
    <div class="subsection">
        <div class="content">
            <h2 class="entry-title">{{ page.title }}</h2>
        </div>
    </div>
    
    <div class="subsection">
        <div class="annotation">
            <p><abbr class="published" name="{{ page.date | date: '%Y-%m-%d' }}">
                {{ page.date | date: '%d %B %Y' }}
            </abbr></p>
        </div>
        
        <div class="content">
            <p class="entry-summary">
                {{ page.summary }}
            </p>
            
            <div class="entry-content"> 
                {{ content }}
            </div>
            
            <div class="entry-comments">
                <p>
                    Have a comment to share?  I’d love to hear it.  Just
                    <a href="http://twitter.com/home?status=%40speedbreeze%20">@mention me</a>
                    on Twitter.
                </p>
            </div>
        </div>
    </div>
</div>