---
layout: default
---
<div class="hentry">
    <div class="entry-header">
        <h1 class="entry-title">
            <a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a>
        </h1>
        
        <div class="entry-meta">
            <p class="entry-date">
                <abbr class="published" name="{{ page.date | date: '%d %B %m' }}">
                    {{ page.date | date: '%Y-%m-%d' }}
                </abbr>
            </p>
        </div>
    </div>
    
    <div class="entry-content">
        {{ content }}
    </div>
</div>