<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <title>{{ page.title }}</title>
    <meta name="author" content="Jonathan Wilde" />
    <meta name="robots" content="noindex,nofollow" />
    
    <link rel="stylesheet" href="stylesheets/screen.css" />
</head>

<body class="page-entry section-articles">
    <div id="header"><div class="content">
        <div id="logo">
            <h1><a href="/" rel="home">SpeedBreeze</a></h1>
        </div>
        
        <div class="nav">
            <ul>
                <li class="articles"><a href="/articles.html">Articles</a></li>
                <li class="projects"><a href="/projects.html">Projects</a></li>
                <li class="about"><a href="/about.html">About</a></li>
            </ul>
        </div>
    </div></div>
    
    <div id="content"><div class="content">
        {{ content }}
    </div></div>
    
    <div id="footer"><div class="content">
        <p>
            Copyright &copy; 2003 - 2010
            <span class="vcard"><a class="url fn"
                href="http://www.speedbreeze.com">Jonathan Wilde</a></span>.
            
            <a href="/colophon.html">Colophon</a>.
        </p>
    </div></div>
</body>
</html>