---
layout: default
---

<div class="full-header">
  <h2 class="full-header-title">
    <a class="full-header-title-link" href="{{ page.url }}">
      {{ page.title }}
    </a>
  </h2>

  <p class="full-header-published">
    <abbr name="{{ page.date | date: '%Y-%m-%d' }}">
      {{ page.date | date: '%d %B %Y' }}
    </abbr>
  </p>
</div>

{{ content }}

<p class="full-comments">
  Have a comment to share?  I’d love to hear it.  Just
  <a href="http://twitter.com/home?status=%40hellojwilde%20">@mention me</a>
  on Twitter.
</p>